In [4]:
# Import necessary modules
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split

In [5]:
# Loading data 
column=['animal name','type','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize']
animal_data = pd.read_csv('https://raw.githubusercontent.com/slmsshk/DataSet/main/zoo.data',names=column)
# animal_data.columns=animal_data.iloc[:,0]
animal_data.head()

,animal name,type,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
# Create feature and target arrays 

y = animal_data.type
animal_data.drop(['type','animal name'], axis=1, inplace=True)
X = animal_data

In [8]:
X

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [9]:
y

0      1
1      1
2      0
3      1
4      1
      ..
96     1
97     1
98     1
99     0
100    0
Name: type, Length: 101, dtype: int64

In [10]:
# Split into training and test set 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42) 

knn = KNeighborsClassifier(n_neighbors=7) 

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [11]:
# Calculate the accuracy of the model 
print(knn.score(X_test, y_test))

0.8571428571428571

In [12]:
# Predict on dataset which model has not seen before 
print(knn.predict(X_test))

[1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 1 1 0 0 1 0]